@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
$font: "Montserrat Alternates", sans-serif;
#home-section {
  width: 100vw;
  height: 100%;
  padding: 50px 0;
  font-family: $font;
  flex: 0 0 auto;
  color: #c5fcef;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h2 {
    padding: 5px 0;
    width: 680px;
  }
  button {
    margin: 50px auto;
    width: auto;
    border: none;
    border-radius: 0px;
    background-color: rgb(238, 232, 232);
    padding: 2px 2px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 1s;
  }
  article {
    background: #625b6b;
    width: 10px;
    height: 10px;
    overflow: hidden;
    color: transparent;
    visibility: hidden;
    transition: all 1s, color 0.5s ease 0ms;
  }
  button:focus + article {
    visibility: visible;
    width: 670px;
    height: 500px;
    line-height: 180%;
    letter-spacing: 1px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #797879 #252625;
    background: #625b6b;
    color: white;
    padding: 10px;
    transition: all 1.5s, color 0.85s ease-out 500ms;
  }
  button:focus {
    background-color: #252625;
    color: rgb(238, 232, 232);
  }
}
::-webkit-scrollbar {
  width: 3px;
  background: #252625;
}
::-webkit-scrollbar-thumb {
  background: #797879;
  padding: 1px;
}
