@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: #845ec2;
}
#nav-ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-ul li {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  margin: 0 1px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
#nav-ul li:hover {
  cursor: pointer;
  background-color: #b39cd0;
}
#nav-ul li a {
  text-decoration: none;
  color: rgb(254, 255, 255);
  font-size: 1.1rem;
  font-weight: 500;
}
