#projects-section {
  width: 100vw;
  height: 100%;
  background-color: #4a4453;
  flex: 0 0 auto;
  padding: 0;
  #projects-container {
    scrollbar-width: thin;
    width: 640px;
    height: 100%;
    margin: auto;
    background-color: #625b6b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: flex-start;
    padding-top: 10px;

    .projects {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 240px;
      background-color: #7a7483;
      justify-content: space-evenly;
      object-fit: scale-down;
      a {
        text-decoration: none;
        color: white;
      }
      h5 {
        margin: 5px 0;
        text-align: center;
        color: white;
      }
      img {
        display: block;
        width: 200px;
      }
    }
  }
}
