#projects-section {
  width: 100vw;
  height: 100%;
  background-color: #4a4453;
  flex: 0 0 auto;
  padding: 0;
  div {
    width: 644px;
    height: 100%;
    margin: auto;
    background-color: #625b6b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
